<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="memupath" value="D:\Program Files\Microvirt\MEmu\"/>
    <add key="memuscenariofile" value="D:\Program Files\Microvirt\MEmu\scripts\20180327224456.mir"/>
  </appSettings>
</configuration>
